*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: var(--white);
}

a:visited{
    text-decoration: none;
    cursor: pointer;
    color: var(--white);
}

button{
    background: transparent;
    border: none;
    text-align: center;
    cursor: pointer;
}