%title{
    font-family: var(--font);
    font-weight: 700;
    font-size: clamp(1.8rem, 5vw, 2.25rem);
}

.title1{
    @extend %title;
    color: var(--orange);
}

.title2{
    @extend %title;
    color: var(--white);
}

.title3{
    @extend %title;
    font-size: clamp(1.2rem, 5vw, 1.5rem);
}

%text{
    font-family: var(--font);
    font-weight: 700;
}

.text1{
    @extend %text;
    font-size: clamp(.8rem, 5vw, 1rem);
}

.text2{
    @extend %text;
    font-size: clamp(.75rem, 5vw, .875rem);
    font-weight: 400
}

.text3{
    @extend %text;
    font-size: clamp(.70rem, 5vw, .75rem);
}